@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background:#999;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.myscroll::-webkit-scrollbar{
  width: 5px;

}
.myscroll::-webkit-scrollbar-thumb{
  background-color: gray;
  border-style: 20px;
  padding-left: 5px;

}
